<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
  </head>
  <body>

    <h1>Welcome to MakersBnb!</h1>
    <h2>Find places to stay and things to do on MakersBnb</h2>
    <link rel='stylesheet' type='text/css' href='style-index.css'>
    <form class="" action="/listings" method="get">
      <input type="submit" name="listings-button" value="Listings">
    </form>


  </body>
</html>


