<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Welcome to MakersBnb!</h1>
    <form class="" action="/listings" method="get">
      <input type="submit" name="listings-button" value="Listings">
    </form>


  </body>
</html>
