<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Spaces</title>
  </head>
  <body>

    <h1>Welcome, <%=@user.name%></h1>

    <h2>Book a space</h2>
    <div class="add-spaces">
      <button type="button" name="button">Add new listing</button>
    </div>

    <h1>All listings</h1>
<div class="main-spaces">
    <% @listings.each do |list| %>

    <div class="single-space">
      <li><%= list %></li>
    </div>

    
       <% end %>
    </div>

  </body>
</html>
