<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <form action="/authentication" method="POST">
    <label>Enter your username</label>
    <input type="text" id="username" name="username">
    <label>Enter your password</label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Sign in">
  </form>
</body>
</html>