<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel='stylesheet' type='text/css' href='/new_space.css'>
    <meta charset="utf-8">
    <title>List a new space</title>
  </head>
  <body>
    <div class="body-opacity">
      <div class="center">
        <form action="/listings/<%= @user_id %>/new" method="POST">
          <label class="label_title">Add a new space</label><br><br>
          <label class="label">Name your space:</label><br>
          <input class="input" type="text" name="name"><br>
          <label class="label">Description:</label><br>
          <input class="input" type="text" name="description"><br>
          <label class="label">Price:</label><br>
          <input class="input"type="text" name="price"><br>
          <label class="label">Dates available:</label><br>
          <input class="input" type="date" name="dates_available"><br>
          <label class="label">Image URL</label><br>
          <input class="input" type="text" name="img_url"><br>
          <input type="submit" value="Submit" class="submit_button"><br>
        </form>
      </div>
    </div>
  </body>
</html>
