<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign out</title>
</head>
<body>
  <h1>You have signed out</h1>
  <form action="/listings" method="GET">
  <label>Return to listings</label>
  <input type="submit" name="return-to-listings" id="return-to-listings" value="Return to listings">
</form>
</body>
</html>