<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign out</title>
</head>
<body>
<link rel='stylesheet' type='text/css' href='/style-signout.css'>
  <h1>You have signed out</h1>
  <h2>Please visit again soon!</h2>
  <form action="/listings" method="GET">
  <input type="submit" name="return-to-listings" id="return-to-listings" value="Return to listings">
</form>
</body>
</html>