<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registration</title>
</head>
<body>
  <form action="/create_user" method="POST">
    <label>Enter your email</label>
    <input type="email" id="email" name="email">
    <label>Enter your name</label>
    <input type="text" id="name" name="name">
    <label>Enter your username</label>
    <input type="text" id="username" name="username">
    <label>Enter your password</label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Submit">
  </form>
  <h2><%= flash[:notice] %> </h2>

</body>
</html>
