<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Registration</title>
  </head>
  <body>
  <link rel='stylesheet' type='text/css' href='/style-user-registration.css'>
  <form action="/create_user" method="POST">
  <h1>Feel at home, anywhere</h1>
  <h1>Sign up to MakersBnb</h1>
    <p><label>Enter your email</label><br></p>
    <p><input type="email" id="email" name="email" placeholder="Email..."><br></p>
    <p><label>Enter your name</label><br></p>
    <p><input type="text" id="name" name="name" placeholder="Name..."><br></p>
    <p><label>Enter your username</label><br></p>
    <p><input type="text" id="username" name="username" placeholder="Username..."><br></p>
    <p><label>Enter your password</label><br></p>
    <p><input type="password" id="password" name="password" placeholder="Password..."><br></p>
    <p><input type="submit" value="Sign up"><br></p>
    <div class="alert">
  </form>
  <h2><%= flash[:notice] %></h2>

</body>
</html>










