/* body {
  text-align: center;
  background-image: url(https://cdn.cnn.com/cnnnext/dam/assets/181115161449-11-japanese-ryokans-nishimuraya.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.9;
} */

body {
  background-image: url(https://i.pinimg.com/originals/ba/ef/ce/baefcefd89c64d7232df82a919007848.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0% 90%;
}

.welcome {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  width: max-content;
  margin-left: 44%;
  padding: 10px;
  border-radius: 10px;
}

div.button {
  float: right;
}

h2:hover {
  text-decoration: underline;
}

h1.center_title_logged_out {
  text-align: center;
  margin-left: 9%;
  font-size: 30px;
}

h1.center_title_logged_in {
  text-align: center;
  margin-left: 18%;
  font-size: 30px;
}

h1:hover {
  text-decoration: underline;
}

input {
  background-color: white;
  color: black; 
  box-sizing: border-box;
  border: 2px solid black;
  font-size: 20px; 
  border-radius: 20px;
  padding: 10px;
  transition-duration: 0.4s;
  text-align: right;
}

input:hover {
  background-color: crimson;
  color: white;
}

button {
  background-color: white;
  color: black; 
  box-sizing: border-box;
  border: 2px solid black;
  font-size: 20px; 
  border-radius: 20px;
  padding: 10px;
  transition-duration: 0.4s;
  text-align: right;
}

button:hover {
  background-color: crimson;
  color: white;
}
form {
  text-align: right;
}

.individual_listing {
  background-color: rgba(192, 192, 192, 0.7);
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5px;
  border: 3px solid black;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

img.listings {
  margin-left: 50%;
  max-width: 100%;
  max-height: 100%;
  border: black solid;
}

div.listing_image {
  height: 300px;
  width: 800px;
  
}

