body.background {
  /* background: url(https://cdn.cnn.com/cnnnext/dam/assets/181115161449-11-japanese-ryokans-nishimuraya.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; */
  background-color: white;
}
div.please {
  color: black;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

div.button {
  float: right;
}

h2:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-size: 30px;
}

h1:hover {
  text-decoration: underline;
}

input {
  background-color: white;
  color: black; 
  box-sizing: border-box;
  border: 2px solid black;
  font-size: 20px; 
  border-radius: 20px;
  padding: 10px;
  transition-duration: 0.4s;
  text-align: right;
}

input:hover {
  background-color: crimson;
  color: white;
}

button {
  background-color: white;
  color: black; 
  box-sizing: border-box;
  border: 2px solid black;
  font-size: 20px; 
  border-radius: 20px;
  padding: 10px;
  transition-duration: 0.4s;
  text-align: right;
}

button:hover {
  background-color: crimson;
  color: white;
}
form {
  text-align: right;
}

.individual_listing {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5px;
  border: 3px solid black;
  padding: 5px;
}

div.listing_image {
  
}
